.logo{
    text-align: center;
    padding: 10px;
}

.nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.profile-icon{
    padding: 20px;
}

.profile-icon p{
    color: white;
}

.header-img{
    height: 366px;
    object-fit: cover;
    object-position: 100% 0;
    opacity: 50%;
    margin-bottom: 44px;
}

.search-bar{
    height: 50px;
    width: 250px;
    background-color: #D3418D;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;   
}

.search-bar h2{
    font-family: 'Cantarell';
    text-align: left;
    font-size: 14px;
}

h1{
    font-size: 48px;
}

hr{
    width: 800px;
    border-top: 2px solid #D3418D;
    margin-bottom: 20px;
}

h2{
    font-size: 23px;
}

.movie{
    display: inline;
}


