.library-header {
    height: 200px;
    width: 100%;
    position: relative;
    top: 100px;
    left: 40%;

}

.library-icon {
    height: 100px;
    width: 100px;
    position: relative;

}
.container-fluid {
    position: relative;
}