.container-fluid {
    position: relative;
}

hr {
    margin-top: 5%;
}

.libraryHeader {
    height: 200px;
    width: 100%;
    position: relative;
    top: 100px;
}

.card {
    padding: 0;
    margin: 0;
    background-color: transparent;
}


.card:hover{
    cursor: pointer;
}

.library-icon {
    height: 100px;
    width: 100px;
    position: absolute;
    background-image: url("/assets/icons/library.svg");
    background-size: cover;
    left: 20%;
}

.header {
    position: relative;
}
.movie-cards{
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}
.cards {
    background-color: aliceblue;
    height: 100px;
    width: auto;
    margin: auto;
    padding: 100px;
}


.footer{
    background-color: #605F67;
    border-radius: 6px 6px 0px 0px;
    font-family: 'Cantarell';
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

li{
    display: block;
    margin-right: 20px;
    color: white;
}

.social-group{
    text-align: center;
}

.social-group p{
    margin-top: 30px;
    color: white;
}
  .filter{
      display: flex;
      justify-content: center;
  }
  .filter-button {
    border-radius: 4px;
    padding: 10px 15px;
    background-color: #131313;
    margin: 5px 2.5px;
    color: white;
  }
  .filter-button:hover {
    cursor: pointer;
  }
  
  .filter-active {
    background-color: #D3418D;
  }
span{
    margin: 5px;
}

.email-phone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.to-top{
    margin-left: 10px;
}